$blue: #008ed6;
$gray: #999999;
$gray-opacity-2: rgba(255,255,255,0.2);
$gray-ed: #ededed;
$gray-footer: #444348;
$black-a1: #1a1a1a;
$black-b1: #1b1b1b;
$dark-black: #15141a;
$white: #ffffff;
$white-fe: #fffefe;
$white-ede: #ededed;
$white-e0: #e0e0e0;
$white-f2: #f2f2f2;
$white-fa: #fafafa;
$navbar-opened-clr: rgba(0, 0, 0, 0.8);