.easy-customize{
    background-color: $white-f2;
    padding: 20px 0;

    .devices{
        padding-top: 13px;
        padding-right: 10px;
        padding-left: 0;
    }

    .easy-customize-info{
        margin-bottom: 53px;

    
        .section-title{
           margin: 0;
        }
    
        .line-bottom{
            margin: 30px 0;
            margin-top: 33px;
        }
        
        .text-description{
            margin: 0;
            margin-top: -11px;
        }
    }
}